In [10]:
import pandas as pd
import numpy as np
data = pd.read_csv('unswdatasoclocal/train.csv', header=0)
test = data[["Age", "high_BP"]]
# sum(data["Age"].isnull())
# data["Age"].values
# np.array(data.values)
test

        Age  high_BP
0      61.0      1.0
1      30.0      0.0
2      51.0      1.0
3      54.0      0.0
4      27.0      0.0
5       NaN      NaN
6      63.0      0.0
7      55.0      0.0
8      37.0      0.0
9      49.0      0.0
10     37.0      0.0
11     28.0      0.0
12     68.0      0.0
13     61.0      1.0
14     61.0      0.0
15      6.0      0.0
16     48.0      0.0
17     36.0      0.0
18      6.0      0.0
19     53.0      0.0
20     72.0      1.0
21     64.0      1.0
22     71.0      0.0
23     54.0      0.0
24     34.0      0.0
25     76.0      1.0
26     16.0      0.0
27     31.0      0.0
28     66.0      0.0
29     74.0      0.0
...     ...      ...
34842  22.0      0.0
34843  82.0      0.0
34844  34.0      0.0
34845  78.0      0.0
34846  34.0      0.0
34847  35.0      0.0
34848  39.0      0.0
34849  57.0      0.0
34850  46.0      0.0
34851   6.0      0.0
34852   9.0      0.0
34853  67.0      0.0
34854   9.0      0.0
34855  59.0      0.0
34856  65.0      0.0
34857  70.0      0.0
34858  28.0      0.0
34859  47.0      0.0
34860  53.0      0.0
34861  50.0      0.0
34862  21.0      0.0
34863  80.0      0.0
34864  83.0      0.0
34865  44.0      0.0
34866  42.0      0.0
34867  61.0      1.0
34868  36.0      0.0
34869  42.0      0.0
34870  33.0      0.0
34871  17.0      0.0

[34872 rows x 2 columns]

In [21]:
from impyute.imputation.cs import mice

# np.array(data[["Age", "high_BP"]].values)

imputed_training = mice(test.values.astype(float))
# abp = imputed_training.str.split(" ", n = 1, expand = True) 
# print(abp)
imputed_training

array([[ 61.,   1.],
       [ 30.,   0.],
       [ 51.,   1.],
       ...,
       [ 42.,   0.],
       [ 33.,   0.],
       [ 17.,   0.]])

In [22]:
np.savetxt('mice.csv', imputed_training, fmt='%d')